/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark:0 2rem 6rem rgba($color: #000000, $alpha: .3);
  --shaow-light: 0 2rem 5rem rgba($color: #000000, $alpha: .06);
  --line:1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-grey-dark-2);
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%; } }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.4rem; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 11rem;
      align-content: center; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  flex: 1; }

.detail {
  display: flex;
  gap: 4.5rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-2);
  border-bottom: var(--line);
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem;
      gap: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      padding: 2rem;
      gap: 2rem;
      flex-direction: column; } }

.description {
  box-shadow: var(--shaow-light);
  flex: 0 0 60%;
  padding: 3rem;
  background-color: var(--color-grey-light-1); }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 2rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column; }

.logo {
  height: 3.25rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 3;
      flex: 0 0 100%;
      margin: 1rem 0;
      background-color: var(--color-grey-light-2); } }
  .search__input {
    width: 90%;
    padding: .7rem 2rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border-radius: 100px;
    background-color: var(--color-grey-light-2);
    border: none;
    transition: all .2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2);
    cursor: pointer;
    transition: all .2s; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 20rem; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative;
    justify-content: space-around; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.75rem;
    height: 1.75rem;
    color: #fff;
    border-radius: 50%;
    background-color: var(--color-primary);
    font-weight: 700;
    font-size: .8rem;
    transform: translate(50%, -50%);
    position: absolute;
    top: 2.2rem; }
  .user-nav__user {
    gap: 1rem; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%; }

.side-nav {
  margin-top: 3.5rem;
  font-size: 1.4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      flex-direction: row;
      margin: 0;
      gap: 0; } }
  .side-nav__item {
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
    .side-nav__item::before {
      content: "";
      height: 100%;
      position: absolute;
      width: 3px;
      left: 0;
      top: 0;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    text-decoration: none;
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 3rem;
    transition: all .3s;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem; } }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor; }
  .side-nav__link:hover,
  .side-nav__link:active .side-nav__icon {
    fill: var(--color-grey-dark-1); }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4); }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: var(--line); }
  .overview__heading {
    text-transform: uppercase;
    font-weight: 300;
    padding: 1.5rem 3rem;
    font-size: 2.25rem;
    letter-spacing: 1px; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem; } }
  .overview__stars {
    display: flex;
    margin-right: auto; }
  .overview__icon-star {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.2rem; }
  .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__rating {
    background-color: var(--color-primary);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.25rem;
    gap: .5rem;
    margin-left: 3rem;
    align-self: stretch; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0rem 1.5rem; } }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -.8rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-average {
        font-size: 1.8rem; } }
  .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-count {
        font-size: .5rem; } }

.btn-inline {
  font-size: inherit;
  border: none;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  border-top: var(--line);
  border-bottom: var(--line);
  padding: 3rem 0;
  margin: 3rem 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    gap: 1rem; }
    .list__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover; }
      @supports (-webkit-mask-image: url()) or (mark-image: url()) {
        .list__item::before {
          background-color: var(--color-primary);
          mask-image: url(../img/chevron-thin-right.svg);
          -webkit-mask-image: url(../img/chevron-thin-right.svg);
          mask-size: cover;
          -webkit-mask-size: cover;
          background-image: none; } }

.recommend {
  display: flex;
  color: var(--color-grey-dark-2);
  align-items: center; }
  .recommend__count {
    flex: 1 0 50%; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    box-sizing: content-box; }
    .recommend__photo:not(:last-child) {
      margin-right: -2rem; }

.review {
  background-color: var(--color-grey-light-1);
  padding: 3rem;
  box-shadow: var(--shaow-light);
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 2rem;
      margin-bottom: 3rem; } }
  .review__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 10; }
  .review__user {
    display: flex;
    align-items: center; }
    .review__user-box {
      display: flex;
      flex-direction: column;
      margin-right: auto;
      margin-left: 1rem; }
    .review__user-name {
      font-weight: 600;
      font-size: 1.1rem;
      text-transform: uppercase;
      margin-bottom: .4px; }
    .review__user-date {
      font-size: 1rem;
      color: var(--color-grey-dark-3); }
  .review__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%; }
  .review__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -8.5rem;
    left: -1rem;
    font-size: 20rem;
    color: var(--color-grey-light-3);
    font-family: sans-serif;
    z-index: 1; }

.cta {
  padding: 3.5rem 0;
  text-align: center;
  text-transform: uppercase; }
  .cta__book-now {
    font-weight: 300;
    margin-bottom: 2rem;
    font-size: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2rem 0; } }

.btn {
  text-transform: uppercase;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  border-radius: 100px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  .btn__visible {
    display: inline-block;
    transition: all .2s;
    padding: 2rem 7.5rem; }
  .btn__invisible {
    display: inline-block;
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
    height: 100%;
    width: 100%;
    transition: all .2s; }
  .btn:hover .btn__visible, .btn:hover .btn__invisible {
    transform: translateY(100%);
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 150px;
  grid-template-rows: 100px 1fr 2fr 100px;
  grid-template-areas: "head head head head" "box box box side" "main main main side" "foot foot foot foot";
  font-size: 3rem;
  color: aliceblue;
  width: 120rem;
  margin: 0 auto;
  grid-auto-rows: 300px;
  gap: 1rem; }
  .grid-container > * {
    background-color: aqua;
    padding: 2rem; }

.grid-header {
  grid-area: head; }

.sidebar {
  grid-area: side; }

.maincontent {
  grid-area: main; }

.footer {
  grid-area: foot; }
